<!-- vue js divs / data import from rails controllers -->
<%= javascript_pack_tag 'index' %>

<%= content_tag :div,
  nil,
  id: "sports",
  data: { 
    sports: @sports.to_json.html_safe
  }
%>
<div id="index-new"></div>



