<div id="footer-container">
	<div class="container">
		<div class="row">
		  <div class="col-sm-12">
		  	<div class="pad20-top pad20-bottom"  style="float: right; margin-left: auto;">
					<p>© 2018 STAT-BOX ALL RIGHTS RESERVED</p>
				</div>
		  </div>
		</div>
	</div>

</div>